%li
  =video.title
  %p
    Monetized in:
    -video.monetize.each do |country|
      =country
  %p
    Free in:
    -video.free.each do |country|
      =country
  %p
    Blocked in:
    -video.block.each do |country|
      =country
