body {
	background-color: #F0F0F0;
	font-family: Helvetica, sans-serif;
	color: #585858 ;
}

li {
	float: left;
	list-style-type: none;
}

#videos {
	position: relative;
	margin: 0 auto;
	width: 90%;
}

.video-container {
	background-color: #fff;
	border-radius: 5px;
	margin: 10px;
	padding: 10px 0px 10px 0px;
	position: relative;
	text-align: center;
	width: 330px;
}

.page {
	width: 300px;
	margin: 30px auto;
	text-align: center;
}

select {
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 10px;
  -webkit-padding-start: 10px;
  -webkit-user-select: none;
  background-image: url(../images/select-arrow.png), 
    -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
  background-position: center right;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  color: #555;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.form-submit-button{
	background:#0066A2;
	color:white;
	border-style:outset;
	border-color:#0066A2;
	height:25px;
	width:100px;
	font: bold 15px arial,sans-serif;
}

